@using PagedList;
@using PagedList.Mvc;

@model IPagedList<SatGitsin2.Models.Ilan>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderAction("KategoriPartial", "Home");
}
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@item.Foto" style="height: 300px; width: 100%;" />

                <div class="caption">
                    <h4 class="pull-right">@item.Fiyat ₺</h4>
                    <h4>
                        <a href="/Home/IlanDetay/@item.IlanId">@item.Baslik</a>
                    </h4>
                    <p>
                        @item.Ozellik
                    </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">@item.Gorulme görüntülenme</p>
                    <p>
                        <a href="/Uye/UyeProfil/@item.Uye.UyeId"> @item.Uye.KullaniciAdi</a>
                    </p>
                </div>

            </div>
        </div>
    }
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="pagedList pagination-lg">
                     @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)

                </div>

            </div>
        </div>

</div>

@*<div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">$64.99</h4>
                <h4>
                    <a href="#">Second Product</a>
                </h4>
                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
                <p class="pull-right">12 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
        </div>
    </div>*@
